* {
    margin: 0;
    padding: 0;
}

.camera-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6em;
    width: 100%;
    background-color: #003DA5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 0 10px 5px #888888;
}

.header h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

.body {
    display: flex;
    height: calc(100vh - 6em);
}

.left-container {
    width: 50%;
    height: 100%;
    z-index: 1;
}

.theme-select {
    height: calc(100% - 6em);
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3em;
    padding: 3em 1.3em;
}

.theme-select img {
    border: solid 1px lightgray;
    border-radius: 1em;
    height: 275px;
    background-color: lightgray;
    transition: all 0.3s ease;
}

.theme-select img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: solid 1px black
}

.right-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}   

.overlay-container {
    aspect-ratio: 11/17;
    height: 90%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #888888;
    border-radius: 1em;
    position: relative;
}

.overlay-theme {
    position: absolute;
    height: 100%;
}

.selfie  {
    position: absolute;
    top: 0%;
    height: 60%;
}

.webcam{
    position: absolute;
    top: 0%;
    height: 60%;
}

.side {
    position: absolute;
    bottom: 0;
    border-radius: 12px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 18px;
    padding: 15px 20px;
    transition: all 0.3s ease;
}

.retake {
    left: 0;
    background-color: #EA4C89;
    /* z-index: -1; */
}

.confirm {
    right: 0;
    background-color: #309d4f;
}

.retake:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #e82f76;
}

.confirm:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #039e2f;
}

.hidden {
    display: none;
}

.countdown-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.capture-button{
    position: absolute;
    margin-top: 35em;
    height: 75px;
    transition: all 0.3s ease;
}

.capture-button:hover{
    transform: scale(1.2);
    cursor: pointer;
}