* {
    margin: 0;
    padding: 0;
}

.landing-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-image {
    position: absolute;
    height: 100vh;
    width: auto;
    z-index: -1;
}

.text-card {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8em;
}

.text-card h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
}

.text-card button {
    color: white;
    font-size: 22px;
    font-weight: 500;
    background-color: #F1B945;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 2em;
    border: solid 2px #ce9010;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.text-card button:hover {
    background-color: #ce9010;
}
