* {
    margin: 0;
    padding: 0;
}

.sticker-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6em;
    width: 100%;
    background-color: #003DA5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 0 10px 5px #888888;
}

.header h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

.body {
    display: flex;
    height: calc(100vh - 6em);
}

.left-container {
    width: 50%;
    height: 100%;
    z-index: 1;
}

.sticker-select {
    height: calc(100% - 6em);
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3em;
    padding: 3em 1.3em;
}

.sticker-select img {
    height: 100px;
    transition: all 0.3s ease;
}

.sticker-select img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.right-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}   

.overlay-container {
    aspect-ratio: 11/17;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #888888;
    border-radius: 1em;
    position: relative;
}

.final-selfie {
    position: absolute;
    height: 100%;
}

.final-theme {
    position: absolute;
    height: 100%;
}

.side {
    position: absolute;
    bottom: 0;
    border-radius: 12px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 18px;
    padding: 15px 20px;
    transition: all 0.3s ease;
}

.clear {
    left: 0;
    background-color: #EA4C89;
    /* z-index: -1; */
}

.print {
    right: 0;
    background-color: #309d4f;
}

.clear:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #e82f76;
}

.print:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #039e2f;
}